

@import url('all.css');


@import url(banner.css);
@import url(buttons.css);
@import url(cards.css);
@import url(container.css);
@import url(footer.css);

body {
  margin: 0;
  font-family: Open Sans;
  background-color:#1653A4;
}

h1, h2, h3, h4 {
  font-family: Poppins;
  padding-top: 25px;
  margin-bottom: 10px;
  color: white;
}

a {
  text-decoration: none;
}

.maintext {
  text-align: center;
  padding-top: 100px;
  color: white;
}
.links i{
	margin: 5px;
	
}